.todo-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 25px 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;

    // .desc-item {        
        
    // }
    .active {
        text-decoration: line-through;
        text-decoration-color: green;
        text-decoration-thickness: 4px;
    }
    .distance {
        color: #e30409;
    }    
    
    .todo-file {
        width: 100%;
        margin-top: 15px;
        padding: 10px 15px;
        border: 5px dashed #bbb;
    }

    p{
        font-size: 18px;
        margin: 3px 0;
        display: flex;
        align-items: start;

        span {
            font-weight: bold;
            font-size: 22px;
            margin-right: 10px;
        }
    }

    .btn-del{
        border: none;
        outline: none;
        background-color: rgba(#000000, .0);
        padding: 5px 5px;
        cursor: pointer;
        width: 42px;
    }
    .control-block {
        display: flex;
        align-items: center;
    }
}
